.section {
  height: 100vh;

  backdrop-filter: invert(2%);
  flex-grow: 1;
  max-width: calc(100% - 50px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  *,
  & {
    transition: .3s;
  }

  .talkerName {
    position: absolute;
    top: 0;
    background-color: var(--main-color);
    font-size: 1rem;
    color: var(--text-color);
    width: 100%;
    text-align: center;
  }

  article {
    flex-grow: 1;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      position: relative;
      width: 100%;
      max-width: 100%;
      padding-top: 3rem;

      .messeageWait {
        padding: 25%;
      }

      .date_splitter {
        margin: .5rem 0;
        border-bottom: 2px solid var(--accent-color);
        width: 80%;
        text-align: center;
      }
    }

    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--accent-color);
      border-radius: 5px;
      margin-bottom: -100px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: none;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-button:hover {
      background-color: #999999;
    }
  }
}