.input,
.error {
  max-width: calc(100vw - 3rem);
  width: 15rem;
  font-size: 1rem;
}

.input {
  margin: .5rem;
  border-radius: .2rem;


  color: var(--main-color);
  padding: 1rem;
  height: 1.5rem;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border: 1px solid black;
  }
}

.error {
  height: 1rem;
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: .5rem;

  color: red;
}