.section {
  article {

    max-width: 80vw;
    width: 20rem;

    margin: 2rem 0 1rem 0;

    letter-spacing: normal;
    text-align: center;
    font-family: var(--official-font);

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 3rem;
    }

    p {
      font-size: 1rem;
      filter: invert(10%);
      font-weight: lighter;
      line-height: 2rem;
    }
  }

  .links {
    margin-top: 3rem;
    width: 19rem;
    max-width: 70vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .link-register,
    .link-login {
      padding: 1rem;
      font-size: 1rem;
      color: var(--link-color);

      text-decoration: underline;
      transition: .1s;

      &:hover {
        filter: invert(20%);
      }
    }
  }
}