body * {
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
hr,
a {
  all: unset;
  cursor: default;
}

hr {
  border: none;
  border-top: 1px solid var(--hr-color);

  width: 95%;

  margin-top: .5rem;
  margin-bottom: .5rem;
}