body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  font-size: 16px;
}

:root:not([nightmode]) {
  --main-color: #F4F4F4;
  --secondary-color: #49678D;
  --accent-color: lightgray;

  --header-color: var(--secondary-color);
  --section-color: var(--main-color);
  --footer-color: var(--secondary-color);

  --text-color: #332F2C;
  --link-color: #3D3936;

  --hr-color: var(--accent-color);
}

:root[nightmode] {
  --main-color: #222222;
  --secondary-color: #344466;
  --accent-color: darkgray;

  --header-color: var(--secondary-color);
  --section-color: var(--main-color);
  --footer-color: var(--secondary-color);

  --text-color: #F4F4F4;
  --link-color: #EDEDED;

  --hr-color: var(--accent-color);
}